#attrib-grid-table {
background-color: #FEFED8;
border: 1px solid #FC9;
border-collapse: collapse;
color: black;
}
#attrib-grid-table td {
border: 1px dashed #D7B8C3;
padding: 2px;
text-align: center;
}
.qty_act {
margin: 3px 0;
}
.qty_act a {
border: 1px solid #DBDBDB;
color: #333;
display: block;
height: 13px;
line-height: 13px;
margin: auto;
text-decoration: none;
width: 13px;
text-align: center;
}
#attrib-grid-table td .qtyInput {
width:30px;
border: 1px solid #C8C8C8;
}
/************tab*************/
.nfl_tab {
width: 100%;
float: left;
font-weight: bold;
background: url(../images/ddd.gif) repeat-x bottom;
}
.nfl_tab li {
float: left;
cursor: pointer;
width: 186px;
line-height: 30px;
background-image: url(../images/tab.gif);
text-align: center;
}

.nfl_tab li.nfl_choose {
background-position: right;
}
.nfl_pro {
clear: both;
border: 1px solid #DDD;
float: left;
border-top: 0 none;
}
.nfl_pro li {
position: absolute;
left: -9999px;
top: -9999px;
}
.nfl_pro li.nfl_choose {
position: static;
left: auto;
float: left;
top: 0;
}
#nfl_con #nfl_pro0, #nfl_con #nfl_pro1, #nfl_con #nfl_pro4 {
padding: 5px 8px;
}
/**********end**tab*************/
/**********without checkout*************/
#withOutAccount {
    margin-top: 10px;
}
#withOutAccount p{
	padding: 0em;
	margin: 0;
}
#withOutAccount h2 {
    color: #c12d20;
    font-size: 30px;
}
#withOutAccount p {
    font-size: 18px;
}
#withOutAccount .verisign {
    padding-top: 20px;
    text-align: right;
}

legend>div {
    margin-top: 20px;
}

div#checkoutOrderTotals {
    margin-bottom: 20px;
}

.important.forward {
    display: inline;
}
/********end**without checkout*************/




#shoppingcart {padding: 5px 5px 0 0;}
#shoppingcart input[type=text],#shoppingcart input[type=password],#shoppingcart select,#shoppingcart textarea{
	border:1px solid #898989;
	margin:0;
	padding:1px;
	}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.cart .sku, .cart .qty, .cart .price, .cart .total, .cart .quantity {
    text-align: center;
    width: 75px;
}
.cart .img{ text-align: center;
    width: 100px;}
.cart th {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    color: #333333;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}
.cart td {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    height: 40px;
}
.cart .sku {
    width: 50px;
}
.cart .name {
    padding-left: 5px;
    width: 700px;
}
.cart td input.qty {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #888888;
    height: 15px;
    margin: 0;
    padding: 2px;
    text-align: center;
    width: 25px;
}
.ccinfo input{
	float:left;
	border: 1px solid #BBBBBB;
	color: #666666;
	font: 12px/25px Verdana;
	height: 25px;
	outline: medium none;
	padding: 0 0 0 5px;
}
.ccinfo select{
	color: #666666;
	font: 12px/25px Verdana;
	height: 25px;
	margin: 5px 10px 5px 0;
	outline: medium none;
	padding: 0 0 0 5px;
}
.ccinfo i{color:red;margin-right:5px;}
.ccinfo .inputLabelPayment{
	width:110px;
	line-height:30px;
}
